/* COLORS
hot pink: 		#ff0040
light  pink 	#ff4f7b
dark pink		#d01544
white
*/

.__scroll_to_recipe_extension__ {
	position: fixed;
	top: 0;
	right: 0;
	box-shadow: -1px 3px 5px #222222;
	margin: 0 0 0 0;
	padding: 0;
	background-color: transparent;
	z-index: 2147483647;
	display: flex;
	align-items: center;
	justify-content: right;
	opacity: 1;
}

/* prevent page styles from overriding our buttons -- don't mess. */
.__scroll_to_recipe_extension__ button, 
.__scroll_to_recipe_extension__ button:hover,
.__scroll_to_recipe_extension__ button:focus,
.__scroll_to_recipe_extension__ button span,
.__scroll_to_recipe_extension__ button img {
	width: unset;
	color: white;
	margin: 0;
	min-width: unset;
	max-width: unset;
	min-height: unset;
	max-height: unset;
	text-transform: none;
	letter-spacing: normal;
	font-weight: normal;
	font-family: 'Consolas', 'Arial';
	font-size: 12px;
	border: none;
	border-radius: 0;
	box-shadow: none;
	position: relative;
	line-height: normal;
	opacity: 1;
	outline: none;
}

.__scroll_to_recipe_extension__ button {
	height: 22px;
	padding: 0 3px;
	background-color: #ff0040;
	display: flex;
	align-items: center;
	position: relative;	
}

.__scroll_to_recipe_extension__ button span {
	background-color: transparent;
	padding: 0 0 0 3px;
}

.__scroll_to_recipe_extension__ button.scroll:hover {
	background-color: #d01544;
	cursor: pointer;
}

.__scroll_to_recipe_extension__ button.toggle_expand {
	background-color: #ff4f7b;
}

.__scroll_to_recipe_extension__ button.toggle_expand:hover {
	background-color: #d01544;
	cursor: pointer;
}

.__scroll_to_recipe_extension__ button:focus {
	background-color: #ff0040;
}

.__scroll_to_recipe_extension__ button img {
	width: 17px;
	padding: 0;
	height: unset;
}

.__scroll_to_recipe_extension__ .hidden {
	display: none;
}
